body {
	margin: 0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	font-family: 'Dosis', sans-serif;
	padding-bottom: 50px;
}

.project_bg{
	background-image: url("images/Project-bg.jpg");
}

.graphic_bg{
	background-image: url("images/Graphic-bg.jpg");
}

.nomar{
	margin: 0
}

.header{
	display: flex;
	background-color: #141414;
	color: white;
	position: fixed;
	top: 0px;
	margin: 0;
	width: 100%;
	padding: 0;
}

.elements{
	padding: 1rem;
	cursor: pointer;
	margin: 0;
	height: 1em;
}

a{
	text-decoration: none;
	color: white;
}

.selected{
	background-color: #886734;
	height: 100%;
}
.inner_glow{
	box-shadow: 
		inset 0 2px 2px rgba(255,255,255,0.8),
		inset 0 -1px 1px rgba(0,0,0,0.5);
}

.logo_container{
	padding: 4rem;
	padding-bottom: 0;
	margin: 0;
	background-color: rgba(0,0,0,70%);
	height: 50px;
}

.logo{
	cursor: pointer;
}

.logo:hover{
	transform: scale(1.2);
}

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,70%);
	color: white;
	height: 650px;
}

.intro_short{
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: rgba(0,0,0,70%);
	color: white;
	height: 600px;
}

.banner{
	margin: 0;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
}

.container{
    margin: 0;
    background-color: rgba(0,0,0,85%);
    height: 400px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
	box-shadow: inset 0 0 5px grey;
	border: solid black 1px;
}

.center{
	text-align: center;
}

.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-self: flex-end;
}

.top{
	margin-top: 10px;
}

.button {
	cursor: pointer;
	margin: 0.5rem;
	margin-bottom: 1rem;
	padding: 12px 28px;
	color: white;
	border: 2px solid #ffffff;
	border-radius: 8px;
	transition-duration: 0.4s;
}

.b1{
	text-decoration: none;
}

.button:hover {
	background-color: #ffffff;
	color: black;
}

.disabled {
	cursor: not-allowed;
	margin: 0.5rem;
	margin-bottom: 1rem;
	padding: 12px 28px;
	color: black;
	border: 2px solid grey;
	background-color: grey;
	border-radius: 8px;
	transition-duration: 0.4s;
}

.footer{
	position: fixed;
	bottom: 0px;
	margin: 0;
	width: 100%;
	padding: 0.5rem;
	background-color: #141414;
}

.right{
	text-align: right;
}

.icon{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.rightpadd{
	margin-right: 2rem;
}

/*Scroll Bar*/
::-webkit-scrollbar {
  width: 8px;
  background: #141414;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #886734; 
}

/*CSS Animation*/
.anim{
	background-image: linear-gradient(to right, green , yellow);
}

@keyframes change_color {
	from {background-image: linear-gradient(to right, green , yellow);}
	to {background-image: linear-gradient(to left, green , yellow);}
}

.anim{
	animation-name: change_color;
	animation-timing-function: ease-in-out;
 	animation-duration: 0.5s;
 	animation-iteration-count: infinite;
 	animation-direction: alternate;
}