body {
	margin: 0;
	padding-top: 130px;
	background-color: #eddcbe;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Dosis', sans-serif;
}

.blue{
	background-color: #324597;
}

.header{
	position: fixed;
	top: 0px;
	margin: auto;
	width: 100%;
	padding: 1rem;
	box-shadow:
		0 1px 5px,
		inset 0 -1px 1px rgba(0,0,0,0.5);
}

.logo{
	cursor: pointer;
}

.bg_grow{
	width: 80px;
	margin: 0;
	padding: 0;
}

.bg_grow:hover{
	background-image: linear-gradient(to right, #FF0000 , #324597);
	width: 95%;
	padding: 0;
}

.inner_glow{
	box-shadow: 
		inset 0 2px 2px rgba(255,255,255,0.8),
		inset 0 -1px 1px rgba(0,0,0,0.5);
}

.display_block {
	margin: 4rem;
	margin-top: 1rem;
	background-color: rgba(254, 255, 214);
	padding: 2rem;
}

.container{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 2fr));
}

.center{
	text-align: center;
}

.wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.card {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: flex-end;
	background-color: white;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	transition: all 0.3s linear;
}

.card:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.button {
	cursor: pointer;
	margin: 0.5rem;
	margin-bottom: 1rem;
	padding: 12px 28px;
	background-color: rgb(240, 240, 240);
	color: black;
	border: 2px solid #f44336;
	border-radius: 8px;
	transition-duration: 0.4s;
}

.b1{
	text-decoration: none;
}

.button:hover {
	background-color: #f44336;
	color: white;
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
	margin: 0.5rem;
	margin-bottom: 1rem;
	padding: 12px 28px;
	background-color: rgb(240, 240, 240);
	color: black;
	border: 2px solid #f44336;
	border-radius: 8px;
}

.container{
	padding:0.01em 16px;
}

.footer{
	position: fixed;
	bottom: 0px;
	margin: auto;
	width: 100%;
	padding: 1rem;
	background-color: white;
}

.right{
	text-align: right;
}

.icon{
	margin-right: 0.5rem;
	margin-left: 0.5rem;
}

.rightpadd{
	margin-right: 2rem;
}